body {
  margin:0px;
  font-family:Baskerville, 'Times New Roman', serif;
  font-size: 110%;
}

header {
  width: 100%;
  font-size:120%;
  padding: 0px;
  margin: 0px;
}

h1 {
  margin: 0px;
  padding: 20px 30px;
  text-align: left;
}

h2 {
  animation-duration: 15s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

#border{
  background:#fff;
  padding:20px;
  width:880px;
  margin:auto;
}

#bar{
  background: #052C3B;
  color:#fff;
  clear: both;
  overflow: auto;
}

#one {
  background: #B1B5BA;
  color: #000;
  padding:30px;
  overflow: hidden;
}

#info1 {
  padding: 10px 100px;
}


#two {
    background: #AB5C53;
    color: #000;
    padding:30px;
    overflow: hidden;
  }

#info2 {
    padding: 10px 100px;
  }

#three {
    background: #B1B5BA;
    color: #000;
    padding:30px;
    overflow: hidden;
}

#info3 {
    padding: 10px 100px;
  }

#four {
    background: #AB5C53;
    color: #000;
    padding:30px;
    overflow: hidden;
}

#info4 {
    padding: 10px 100px;
  }

#five {
    background: #B1B5BA;
    color: #000;
    padding:30px;
    overflow: hidden;
}

#info5 {
    padding: 10px 100px;
  }

#six {
    background: #AB5C53;
    color: #000;
    padding:30px;
    overflow: hidden;
}

#info6 {
    padding: 10px 100px;
  }

#seven {
    background: #B1B5BA;
    color: #000;
    padding:30px;
    overflow: hidden;
}

#info7 {
    padding: 10px 100px;
  }

#eight {
    background: #AB5C53;
    color: #000;
    padding:30px;
    overflow: hidden;
}

#info8 {
    padding: 10px 100px;
  }

#nine {
    background: #B1B5BA;
    color: #000;
    padding:30px;
    overflow: hidden;
}

#info9 {
    padding: 10px 100px;
  }

#ten {
    background: #AB5C53;
    color: #000;
    padding:30px;
    overflow: hidden;
}

#info10 {
    padding: 10px 100px;
  }

nav ul {
  list-style: none;
  margin: 0px;
}

nav li {
  float: left;
  margin: auto;
  padding: 10px 30px;
}
a { color: #619CB8; }
a:hover { color: #82E8FF; }

#container{
  width: 920px;
  height: 300px;
  margin: auto;
}

#container2{
  width: 920px;
  height: 300px;
  margin: auto;
}

#container3{
  width: 920px;
  height: 300px;
  margin: auto;
}

#container4{
  width: 920px;
  height: 300px;
  margin: auto;
}

#container5{
  width: 920px;
  height: 300px;
  margin: auto;
}

#container6{
  width: 920px;
  height: 300px;
  margin: auto;
}

#container7{
  width: 920px;
  height: 300px;
  margin: auto;
}

#container8{
  width: 920px;
  height: 300px;
  margin: auto;
}

#container9{
  width: 920px;
  height: 300px;
  margin: auto;
}

#container10{
  width: 920px;
  height: 300px;
  margin: auto;
}

@media (max-width: 800px ) {
  h1{
    width:100%;}

  img{
    margin:auto;
    width:100%;
  }

  #border{
    width:80%;
    margin:auto;}

  #container{
      margin:auto;
      width:100%;
    }

  #container2{
      margin:auto;
      width:100%;
      }

  #container3{
      margin:auto;
      width:100%;
    }

  #container4{
      margin:auto;
      width:100%;
      }

  #container5{
      margin:auto;
      width:100%;
    }

  #container6{
      margin:auto;
      width:100%;
      }

  #container7{
      margin:auto;
      width:100%;
    }

  #container8{
        margin:auto;
        width:100%;
      }

  #container9{
      margin:auto;
      width:100%;
        }

  #container10{
      margin:auto;
      width:100%;
      }      
  }
